<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vaom.core">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CORE">
        <activity
            android:name=".urgent"
            android:exported="false" />
        <activity
            android:name=".data"
            android:exported="false" />
        <activity
            android:name=".ui"
            android:exported="false" />
        <activity
            android:name=".backend"
            android:exported="false" />
        <activity
            android:name=".FRONTENDF"
            android:exported="false" />
        <activity
            android:name=".frontend"
            android:exported="false" />
        <activity
            android:name=".FRONTEND"
            android:exported="false"
            android:label="@string/title_activity_frontend"
            android:theme="@style/Theme.CORE.NoActionBar" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>